body{
    background-color: honeydew;

}
.container{
    background-image: url(/images/image\ 6.jpeg);
    background-repeat: none;
    background-size: cover;
}
hr{
    width: 80%;
    display:flex;
    justify-content: center;
    color: hotpink;
}
#myform {
    display: none;
    color: aqua;
}
.imagesection>div>img{
    height: 250px;
    width: 250px;
    border-radius: 80%;
    border: 2px solid rgb(69, 192, 201);
    box-shadow: 0px 2px 2px 3px rgb(179, 62, 8);
    justify-content: space-between;
    

}
.cart{
    display: none;
}
.row{
    
}

