body{
    background-color: rgb(1, 22, 1);

}
.container{
    background-image: url(/images/background.jpeg);
    background-repeat: none;
    background-size: cover;
}
hr{
    width: 80%;
    display:flex;
    justify-content: center;
    color: hotpink;
}
#myform {
    display: none;
    color: aqua;
}
.imagesection>div>img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid rgb(69, 192, 201);
    box-shadow: 0px 2px 2px 3px rgb(179, 62, 8);
    /* justify-content: space-around; */
    margin: 20px;
    

}
#cardi{
    display: none;
}
.footer{
    background-color: rgb(109, 18, 18);
    justify-content: center;
    
}
.imagesection{
    justify-content: space-around;

}
#successtext{
    display: none;
}

.imagesection {
    cursor: pointer;
    opacity: 0.8;
}

